
process {
  withName: 'NFCORE_RNASEQ:RNASEQ:ALIGN_STAR:STAR_ALIGN_IGENOMES' {
    memory = '35 GB'
    cpus = 4
  }
  withName: 'NFCORE_RNASEQ:PREPARE_GENOME:GTF_FILTER' {
    memory = '4 GB'
    cpus = 2
  }
  withName: 'NFCORE_RNASEQ:PREPARE_GENOME:MAKE_TRANSCRIPTS_FASTA' {
    memory = '6 GB'
    cpus = 2  
  }
  withName: 'NFCORE_RNASEQ:PREPARE_GENOME:CUSTOM_GETCHROMSIZES' {
    memory = '2 GB'
    cpus = 2
  }
  withName: 'NFCORE_RNASEQ:PREPARE_GENOME:SALMON_INDEX' {
    memory = '8 GB'
    cpus = 2
  }

  withName: 'NFCORE_RNASEQ:RNASEQ:FASTQ_QC_TRIM_FILTER_SETSTRANDEDNESS:CAT_FASTQ' {
    memory = '2 GB'
    cpus = 2
  }
  withName: 'NFCORE_RNASEQ:RNASEQ:FASTQ_QC_TRIM_FILTER_SETSTRANDEDNESS:FQ_LINT' {
    memory = '2 GB'
    cpus = 2
  }
  withName: 'NFCORE_RNASEQ:RNASEQ:FASTQ_QC_TRIM_FILTER_SETSTRANDEDNESS:FASTQ_SUBSAMPLE_FQ_SALMON:FQ_SUBSAMPLE' {
    memory = '2 GB'
    cpus = 2
  }
  withName: 'NFCORE_RNASEQ:RNASEQ:FASTQ_QC_TRIM_FILTER_SETSTRANDEDNESS:FASTQ_SUBSAMPLE_FQ_SALMON:SALMON_QUANT' {
    memory = '6 GB'
    cpus = 2
  }

  withName: 'NFCORE_RNASEQ:RNASEQ:ALIGN_STAR:BAM_SORT_STATS_SAMTOOLS:SAMTOOLS_SORT' {
    memory = '6 GB'
    cpus = 2
  }
  withName: 'NFCORE_RNASEQ:RNASEQ:ALIGN_STAR:BAM_SORT_STATS_SAMTOOLS:SAMTOOLS_INDEX' {
    memory = '4 GB'
    cpus = 2
  }
  withName: 'NFCORE_RNASEQ:RNASEQ:ALIGN_STAR:BAM_SORT_STATS_SAMTOOLS:BAM_STATS_SAMTOOLS:SAMTOOLS_STATS' {
    memory = '3 GB'
    cpus = 2
  }
  withName: 'NFCORE_RNASEQ:RNASEQ:ALIGN_STAR:BAM_SORT_STATS_SAMTOOLS:BAM_STATS_SAMTOOLS:SAMTOOLS_FLAGSTAT' {
    memory = '3 GB'
    cpus = 2
  }
  withName: 'NFCORE_RNASEQ:RNASEQ:ALIGN_STAR:BAM_SORT_STATS_SAMTOOLS:BAM_STATS_SAMTOOLS:SAMTOOLS_IDXSTATS' {
    memory = '3 GB'
    cpus = 2
  }

  withName: 'NFCORE_RNASEQ:RNASEQ:QUANTIFY_STAR_SALMON:SALMON_QUANT' {
    memory = '8 GB'
    cpus = 2
  }
  withName: 'NFCORE_RNASEQ:RNASEQ:QUANTIFY_STAR_SALMON:CUSTOM_TX2GENE' {
    memory = '3 GB'
    cpus = 2
  }
}

